{% extends "base.html" %}

{%block head%}
<title>TODO APP</title>

{%endblock%}


{%block body%}

<div class="container">
    <h1>TODO APP</h1>

    {%if tasks | length < 1%}
        <p>No tasks added yet</p>
    {%else%}
        
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {%for task in tasks%}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.created.strftime("%Y-%m-%d")}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br/>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {%endfor%}
    </table>
    {%endif%}
                    
       <!--- <tr>
            <td>Content</td>
            <td>Data</td>
            <td>More</td>
        </tr>-->
    </table>

    <form action="/" method="POST" >
        <input type="text" name="content" placeholder="Enter task" id="content"/>
        <button type="submit">Add Task</button>
    </form>
</div>


{%endblock%}
